greenlet==2.0.1
kaleido==0.2.1
numpy==1.23.5
pandas==1.5.1
plotly==5.11.0
psycopg2-binary==2.9.5
pydantic==1.10.2
python-dateutil==2.8.2
pytz==2022.6
six==1.16.0
SQLAlchemy==1.4.44
tenacity==8.1.0
typing_extensions==4.4.0
